.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    
    --bs-offcanvas-width: 60%;
   
}

/*
.navbar-nav-scroll {
    max-height: 1000px;
    overflow-y: auto;
}
*/
/* styles.css or your component-specific styles file */

.navbar{
    position: sticky;
    top:0;
}