<div class="container">
    <h1 class="mt-3">Add BlogPost </h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-3 mb-5">
            <div class="mt-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" [(ngModel)]="model.Title">
            </div>
            <div class="mt-3">
                <label for="UrlHandle" class="form-label">Url Handle</label>
                <input type="text" id="UrlHandle" name="UrlHandle" class="form-control" [(ngModel)]="model.UrlHandle">
            </div>
            <div class="mt-3">
                <label for="ShortDescription" class="form-label">Short Description</label>
                <input type="text" id="ShortDescription" name="ShortDescription" class="form-control" [(ngModel)]="model.ShortDesc">
            </div>
            <div class="mt-3">
                <label for="content" class="form-label">Content</label>
                <textarea id="content" name="content" class="form-control" [(ngModel)]="model.Content"></textarea>
            </div>
            <div class="mt-3">
                <label for="FeaturedImageUrl" class="form-label">Featured Image Url</label>
                <input type="text" id="FeaturedImageUrl" name="FeaturedImageUrl" class="form-control" [(ngModel)]="model.FeaturedImgUrl">
            </div>
           
            <div class="mt-3">
                <label for="PublishDate" class="form-label">Publish Date</label>
                <input type="date" id="PublishDate" name="PublishDate" class="form-control"
                value = {{model.PublishDate}}
                [ngModel]="model.PublishDate | date:'yyy-MM-dd'"
                (ngModelChange) ="model.PublishDate = $event">
               
            </div>
            <div class="mt-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" id="author" name="author" class="form-control" [(ngModel)]="model.Author">
            </div>



            <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox"  id="IsVisible" 
                [(ngModel)]="model.IsVisible"
                name="isVisible">
                <label class="form-check-label" for="IsVisible">
                 IsVisible?
                </label>
              </div>

              <div class="mt-5">
                <button type="submit" class="btn btn-primary"> Submit</button>
            </div>
        </div>
    </form>
</div>
