<div class="container">
    <h1 class="mt-3">Category List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a routerLink="/admin/categories/add" class="btn btn-primary">
           Add Category
        </a>
    </div>

    <div class="container-fluid">
        <ng-container *ngIf=" categories$ | async as Category">
           <table class="table table-bordered mt-3">
            <thead>
                <tr>
    
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ul Handle</th>
    
                </tr>
               
            </thead>
            <tbody>
                <tr *ngFor="let category of Category">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.urlHandle}}</td>
                <td>
                     <a class="btn btn-secondary" [routerLink]="['/admin/blog', category.id]">Edit</a>
                </td>
                </tr>
            </tbody>
           </table>
        </ng-container>
    </div>



    
</div>