<div class="container mb-3">
    <h1 class="mt-3">BlogPost List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/blogpost/add']" class="btn btn-primary">Add BlogPost</a>
    </div>
</div>

<div class="container-fluid">


    <ng-container *ngIf="blogPosts$ |async as BlogPost ">
    
      <table class="table table-bordered">
            <thead>
                <tr>
    
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Is<br>Visible? </th>
                    
    
                </tr>
               
            </thead>
            <tbody>
                <tr *ngFor="let blogpost of BlogPost">
                <td>{{blogpost.title}}</td>
                <td>{{blogpost.shortDesc}}</td>
                <td>{{blogpost.isVisible}}</td>
                
              
               
                </tr>
            </tbody>
           </table>
    
    
    
    </ng-container>
</div>
